.editor{
    background-color: black;
    justify-self: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    border-radius: 5%;
}
.heading{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4%;
    margin-bottom: 40px;
   
}
.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17%;
}
#input{
    display: flex;
    align-items: center;
    justify-self:center ;
    width: 60%;
    height: 10%;
    border-radius: 15px;
    margin-bottom: 50px;
    border: none;
}
button{
    /* height: 50px;
    width: 60px; */
    border-radius:5px ;
    border: none;
    background-color: rgb(60, 59, 60);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.output{
    /* justify-self: center;
    align-items: center; */
    justify-self:center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50px;
    border: solid 2px rgb(155, 118, 118);
    border-radius: 14px;
 background-color: white;
 padding-left: 10px;
 
}