body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

div{
    
    align-content: center;
}
.card{
    display: flex;
    width: 100vw;
    padding: 3px;
    border: 5px solid rgb(233, 233, 233);
    
}

.banner{
  position: fixed;
  top: 15px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 15px);
  object-fit: cover;
  z-index: -1;
}