*{
    margin: 0;
    padding: 0;
}



a{
    color: white;
    text-decoration: none;
    font-size: larger;
   
}

nav{
    display: flex;
    

}

ul{
    background: black;
    display: flex;
    height: 4vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.title1{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    font-size: 50px;
}

.grey{
    background-color: grey;
    width: 100px;
    height: 100px;
     border:solid 5px black;
    border-radius: 10%;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
.blue{
    background-color: blue;
    width: 100px;
    height: 100px;
     border:solid 5px black;
    border-radius: 10%;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
.white{
    background-color: rgb(248, 248, 248);
    width: 100px;
    height: 100px;
     border:solid 5px black;
    border-radius: 10%;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
.yellow{
    background-color: yellow;
    width: 100px;
    height: 100px;
    border:solid 5px black;
    border-radius: 10%;
    
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
.box{
    display: flex;
    justify-content: center;
    gap: 4%;
    margin: 5%;
}
.title2{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-size: 35px;
}

body{
    transition-property: background-color;
    transition-duration: 2s;
   
}